body{
    margin : 0px;
    padding : 0px;
}
a{
    color: white;
    text-decoration: none;
}

#header {
    height : 100px;
    background-color: rgba(53,19,18,255);
    color: white;
    padding: 2% 3%;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
}
#home{
    margin-right: 30px;
    margin-left: 100px;
}
#reserve{
    margin-right: 30px;
}
#products{
    margin-right: 30px;
}

#logo img{
    height: 100px;
}

#content{
    background-color: white;
    height: 500px;
}

#footer{
    height: 100px;
    background-color: rgba(53,19,18,255);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

#titleexhib{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 20px;
}

#gambarexhib{
    display: flex;
    justify-content: space-evenly;
}

#textexhib{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1%;
}

/* #textexhib1{
    margin-left: 4%;
    margin-right: %;

} */

#textexhib2{
    margin-left: 5%;
    margin-right: 3%;

}

/* #textexhib3{
    margin-left: 1%;
    margin-right: 5%;
} */

#gambarexhib img{
    height: 200px;
}
